/backend/.env
/backend/node_modules
/backend/testscripts
/backend/playground
/backend/itemslugs.json
/backend/fullslug.json


# Logs
/frontend/flipframe/logs
/frontend/flipframe/*.log
/frontend/flipframe/npm-debug.log*
/frontend/flipframe/yarn-debug.log*
/frontend/flipframe/yarn-error.log*
/frontend/flipframe/pnpm-debug.log*
/frontend/flipframe/lerna-debug.log*

/frontend/flipframe/node_modules
/frontend/flipframe/dist
/frontend/flipframe/dist-ssr
/frontend/flipframe/*.local

# Editor directories and files
/frontend/flipframe/.vscode/*
/frontend/flipframe/!.vscode/extensions.json
/frontend/flipframe/.idea
/frontend/flipframe/.DS_Store
/frontend/flipframe/*.suo
/frontend/flipframe/*.ntvs*
/frontend/flipframe/*.njsproj
/frontend/flipframe/*.sln
/frontend/flipframe/*.sw?
